<ion-grid>
  <ion-row style="display: flex; justify-content: end; padding-right: 5px">
    <ion-col size="auto">
      <button mat-stroked-button
              style="color: black; padding-top: 1px; padding-bottom: 1px; height: auto; font-size: 12px"
              (click)="openLoginModal()">{{ 'BUTTON.LOGIN' | translate }}
        <span><mat-icon style="vertical-align: middle; line-height: 1; font-size: 20px;">keyboard_arrow_right</mat-icon></span>
      </button>
    </ion-col>
    <ion-col size="auto">
      <button mat-flat-button class="custom-button"
              (click)="switchLanguage('es')">
        <span>{{ 'BUTTON.LINKCARD' | translate }} <mat-icon style="vertical-align: middle; line-height: 1; font-size: 20px;">keyboard_arrow_right</mat-icon></span>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

