.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  transform: scale(0.6);
}

.up,
.down {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.card1 {
  color: black;
  width: 4rem;
  height: 4rem;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2 {
  width: 4rem;
  height: 4rem;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card3 {
  width: 4rem;
  height: 4rem;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card4 {
  width: 4rem;
  height: 4rem;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #8c9eff;
}

.card-active {
  background-color: #56619d;
}

@media(max-width: 480px) {
  .link {
    font-size: 12px;
  }
}
