<ion-row class="responsive-row" style="margin-top: 50px">
  <span class="title">Link your&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;business card</span>
</ion-row>
<ion-row class="responsive-row">
  <span class="title">to <span style="color: blue">unlock cahsback</span> offers</span>
</ion-row>
<div class="container">
  <mat-table [dataSource]="dataSource" class="product-comparison-table" matSort>

    <!-- Column for feature names -->
    <ng-container matColumnDef="feature">
      <mat-header-cell style="border-bottom: none;" *matHeaderCellDef></mat-header-cell>
      <mat-cell style="border-bottom: none;" *matCellDef="let element">{{ element.feature }}</mat-cell>
    </ng-container>

    <!-- Column for Product 1 -->
    <ng-container matColumnDef="product1">
      <mat-header-cell *matHeaderCellDef class="product-header">No card linking required</mat-header-cell>
      <mat-cell *matCellDef="let element" class="product-cell">
        <mat-icon class="custom-check-icon" *ngIf="element.product1">check_circle</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Column for Product 2 -->
    <ng-container matColumnDef="product2">
      <mat-header-cell *matHeaderCellDef class="product-header">Link your card to get</mat-header-cell>
      <mat-cell *matCellDef="let element" class="product-cell">
        <mat-icon class="custom-check-icon" *ngIf="element.product2">check_circle</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>

