<ion-row>
  <ion-col style="display: flex; justify-content: center">
    <button mat-flat-button><span>{{ 'BUTTON.LINKCARD' | translate }}
      <mat-icon
        style="vertical-align: middle; line-height: 1; font-size: 20px;">keyboard_arrow_right</mat-icon></span>
    </button>
  </ion-col>
</ion-row>

<ion-row style="margin-top: 100px; margin-bottom: 20px">
  <ion-col style="display: flex; justify-content: center">
    <span class="title">
      {{ 'MENU.EXPLORE_COUPONS' | translate }}
    </span>
  </ion-col>
</ion-row>

<ion-row style="margin-bottom: 40px; display: flex; justify-content: center">
  <app-spinner [isLoading]="loading" [message]="'Cargando datos, por favor espere...'"></app-spinner>

  <div class="button-list" *ngIf="!loading && !categoriesError; else loadingOrErrorTemplate">
    <ion-button (click)="categoryService.setSelectedCategory(category)"
                *ngFor="let category of categories"
                class="category-button"
                [ngClass]="{'active': (category.idMenu === categoryService.getSelectedCategory()?.idMenu)}">
      {{ category.descripcion }}
    </ion-button>
  </div>
</ion-row>


<ng-template #loadingOrErrorTemplate>
  <div *ngIf="!loading && categoriesError; else emptyTemplate">
    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
      <app-message [message]="'Error al cargar las categorías.'" [type]="'error'"></app-message>
    </div>
  </div>
  <ng-template #emptyTemplate></ng-template>
</ng-template>
