.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 18px;
  color: white;
}

.message-info {
  background-color: #d9edf7;
  color: #31708f;
}

.message-warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.message-error {
  background-color: rgba(242, 222, 222, 0.61);
  color: #a94442;
}
