.container{
  background: rgb(0,0,143);
  background: linear-gradient(180deg, rgba(0,0,143,1) 0%, rgba(0,0,143,1) 20%, rgba(59,59,169,1) 49%, rgba(110,110,191,1) 69%, rgba(255,255,255,1) 98%);
  min-height: 20vh;
}
.title{
  color: white;
  font-family: Gabarito, serif;
  font-size: 5dvi;
}
