<ion-row class="container">
  <ion-row class="center" style="margin-top: 60px; padding-bottom: 50px">
    <ion-col size="12">
      <span class="title">{{ 'DETAIL.UNLOCK_POWER' | translate }}</span>
    </ion-col>
  </ion-row>

  <ion-row class="center mosaic-view">
    <div *ngFor="let brand of brands" class="brand-item">
      <img width="40%" class="img" [src]="brand.imagen" alt="{{ brand.name }}">
      <div class="brand-info">
        <h3>{{ brand.nombreMarca }}</h3>
        <p style="color:black;">{{ brand.descripcion }}</p>
        <button class="get-coupon-button">{{ 'DETAIL.GET_COUPON' | translate }}<span><mat-icon style="vertical-align: middle; line-height: 1; font-size: 20px;">arrow_forward</mat-icon></span></button>
      </div>
    </div>
  </ion-row>

  <ion-row style="width: 100%; margin-top: 30px; margin-bottom: 20px">
    <ion-col style="display: flex; justify-content: center" size="12">
      <button mat-flat-button>
        <span>{{ 'BUTTON.LINKCARD' | translate }}
          <mat-icon style="vertical-align: middle; line-height: 1; font-size: 20px;">keyboard_arrow_right</mat-icon>
        </span>
      </button>
    </ion-col>
  </ion-row>
</ion-row>
