<div class="view-controls">
  <h2>{{ 'FEATURED_INSTANT_COUPONS' | translate }} ({{ brands.length }})</h2>

  <div class="sort-controls">
    <button class="button" (click)="changeViewMode('mosaic')" [ngClass]="{'active-view': viewMode === 'mosaic'}">
      <span><mat-icon style="vertical-align: middle; font-size: 20px;">grid_view</mat-icon></span>
    </button>
    <button (click)="changeViewMode('gallery')" [ngClass]="{'active-view': viewMode === 'gallery'}">
      <span><mat-icon style="vertical-align: middle; font-size: 20px;">view_list</mat-icon></span>
    </button>

    <select class="custom-select" (change)="changeSortBy($event)">
      <option value="nombreMarca">{{ 'SORT_BY_NAME' | translate }}</option>
      <option value="descripcion">{{ 'SORT_BY_DESCRIPTION' | translate }}</option>
    </select>
    <button (click)="changeSortOrder(sortOrder === 'desc' ? 'asc' : 'desc')" [ngClass]="{'active': sortOrder === 'asc'}">
      <mat-icon>{{ sortOrder === 'desc' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
    </button>
  </div>
</div>

<div [ngClass]="{'mosaic-view': viewMode === 'mosaic', 'gallery-view': viewMode === 'gallery'}">
  <div *ngFor="let brand of displayedBrands" class="brand-item">
    <img [src]="brand.imagen" alt="{{ brand.nombreMarca }}">
    <div class="brand-info">
      <h3>{{ brand.nombreMarca }}</h3>
      <p>{{ brand.descripcion }}</p>
      <button class="get-coupon-button">{{ 'GET_COUPON' | translate }}<span><mat-icon style="vertical-align: middle; line-height: 1; font-size: 20px;">arrow_forward</mat-icon></span></button>
    </div>
  </div>
</div>

<button *ngIf="!showAll && brands.length > initialItems" (click)="toggleShowAll()" class="more-coupons-button">
  {{ 'MORE_INSTANT_COUPONS' | translate }}<span><mat-icon style="vertical-align: middle; line-height: 1; font-size: 20px;">arrow_forward</mat-icon></span>
</button>

<div *ngIf="showAll && totalPages > 1" class="pagination">
  <button (click)="changePage(currentPage - 1)" [attr.tabindex]="-1" [disabled]="currentPage === 1"><</button>
  <span style="color: black">{{ 'PAGE' | translate }} {{ currentPage }} {{ 'OF' | translate }} {{ totalPages }}</span>
  <button (click)="changePage(currentPage + 1)" [attr.tabindex]="-1" [disabled]="currentPage === totalPages">></button>
</div>
